body {
	margin: 0px;
	padding: 0px;
	text-align: center;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	-webkit-tap-highlight-color: transparent;
}

.header {
	position: fixed;
	width: 100%;
	top: 0px;
	height: 40px;
	background-image: -webkit-linear-gradient(top, #0088cc, #0044cc);
	background-color: #006dcc;
	/*-webkit-box-shadow: 0 0 3px #000000;*/
	vertical-align: middle;
	z-index: 99;
}

.headerIcon {
	float: left;
}

.headerText {
	float: left;
	line-height: 38px;
	color: #ffffff;
	font-size: 17.5px;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}

.headerButton, .headerButtonPressed {
	float: right;
	border-left: solid 1px #0044cc;
}

.headerButton {
	background-image: -webkit-linear-gradient(top, #0088cc, #0044cc);
}

.headerButtonPressed {
	background-image: -webkit-linear-gradient(top, #0044cc, #0044cc);
}

.mainWrapper {
	z-index: 98;
	margin-top: 40px;
}
/*
.btn {
	margin-top: 5px;
	border: 1px solid;
	border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
	line-height: 20px;
	vertical-align: middle;
	-webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
	padding: 11px 19px;
	font-size: 17.5px;
	-webkit-border-radius: 6px;
	background-repeat: repeat-x;
	background-image: -webkit-linear-gradient(top, #0088cc, #0044cc);
	color: #ffffff;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	background-color: #006dcc;
}

.btnText {
	margin-bottom: 5px;
	display: inline-block;
	width: 90%;
}
*/
#imgLoad {
	display: none;
	margin-top: 8px;
	margin-bottom: 5px;
}

.imgPics, .imgPicsPressed {
	width: 90%;
	margin-top: 10px;
	-webkit-border-radius: 4px;
}
.imgPics {
	opacity: 1;
	-webkit-box-shadow: 0px 0px 6px #000000;
}
.imgPicsPressed {
	opacity: 0.5;
	-webkit-box-shadow: 0 0 0;
}